@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    background-image: linear-gradient(to top, #682BD7, #222);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #2f2f2f;
}
header{
    background-color: #fff;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

main{
    background-color: #fff;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer{
    background-color: #fff;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 20px;
}


h1, h2, h3, b{
    font-family:'Inter';
}

p, a, figcaption{
    font-family: 'Krub';
}

header{
    border-top-style: solid;
    border-top-color: #424242;
    border-top-width: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

footer{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

nav a{
  margin: 3px;
}

p{
    margin: 0 auto;
    width: 60%;
    max-width: fit-content;
    text-align: left;
}

img{
    max-width: 35%;
}

figure img{
    max-width: 60%;
}


ul{
    max-width: 80%;
    margin: 0 auto;

}

ol{
    max-width: 80%;
    margin: 0 auto;
}
li{
    margin: 8px;
    text-align: left;
    font-family: 'Krub';
}

a{
    color: #682BD7;
}

form{
    width: 80%;
    margin: 0 auto;
}


form label{
    margin: 0 auto;
    display: block;
    float: left;
    font-family: 'Krub';
    font-weight: bold;
    clear: both;
}

form input{
    margin: 5px auto 30px auto;
    width: 100%;
    height: 30px;
    background-color: #eee;
    border-radius: 5px;
}

form input[type="file"]{
    background-color: #fff;
    border: 0px;
}

#courses-label{
    margin: 0 auto;
    text-align: left;
}

#add-course{
    float: left;
}

#form-buttons{
    width: 50%;
    margin: 0 auto;
    display: flex;
    gap: 5px;
}

form button{
    margin: 5px auto 25px auto;
    display: block;
}


li p{
    width: 80%;
    display: inline;
}

main section{
    border-radius: 5px;
    margin: 8px;
}
pre{
    width: 90%;
}
pre, code {
  white-space: pre-wrap; 
  overflow-wrap: break-word; 
  background: #2f2f2f;
  color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 15px;
}

table{
    border: #2f2f2f solid 1px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 0 auto;
    border-collapse:collapse
}

thead{
    background-color: #682BD7;
    color: #fff;
    height: 30px;
    padding: 0;
    margin: 0;
}

th{
    font-family: 'Inter';
}

td{
    font-family: 'Krub';
    padding: 12px 16px;
}

tr:nth-child(even){
    background-color:#F2F2F2
}

tr td:nth-child(odd){
    text-align: left;
    font-family: 'Inter'
}

tr td:nth-child(even){
    font-weight:bold;
}


a:visited{
    color: #682BD7;
}

.plan-sections{
    text-align: left;
    padding-left: 17px
}

.designed-by{
    text-align: center;
}

.website-heading{
    display: inline;
    margin: 0;
}





/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    header{
        max-width: 1400px;
    }

    main{
        max-width: 1400px;
    }

    footer{
        max-width: 1400px;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    header{
        max-width: 980px;
    }

    main{
        max-width: 980px;
    }

    footer{
        max-width: 980px;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    header{
        max-width: 600px;
    }

    main{
        max-width: 600px;
    }

    footer{
        max-width: 600px;
    }
}